.card {
    background: rgb(247, 247, 247);
    border-radius: 2px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    justify-content: center;
    margin: 20px;
    max-width: 10em; 
}

.card>.img-container {
    overflow: hidden;
    text-align: center;
    justify-content: center;  
    margin: 20px;   
}

.card>.img-container>img {
    width: 5em;   
}